 .box-input-form {
    margin-top: 10px;
    margin-bottom: 10px;
 }
 .box-input-form:invalid {
     border: 2px dashed red;
 }
 .box-input-form:valid {
     
     border: 4px solid greenyellow;
     border-radius: 4px;
 }

 .box-input-form input:invalid {
     border: 2px solid darkblue;
 }
 
.box-input-form input:valid {
    border: 2px solid black;
}
form:invalid>#box-input-btn {
    pointer-events: none;
}
 table {
     text-align: center;
     font-size: 18px;
     border: 3px solid crimson;
     margin: 0;
 }
 td, tr {
     height: 45px;
     border: 4px solid green;
 }
 .highlight {
    background-color: red;
 }
 .simp {
     background-color: chocolate;
 }